<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @applicant.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @applicant.lastname %>
</p>

<%= link_to 'Edit', edit_applicant_path(@applicant) %> |
<%= link_to 'Back', applicants_path %>
